.gameboard {
  width: 90vmin;
  height: 90vmin;
  border: 1px solid white;
  position: relative;
  border-radius: 50%;
}

.gameboard__positioner {
  position: absolute;
}

.gameboard__positioner > * {
  width: 100%;
  height: 100%;
}

.gameboard__cell {
  position: absolute;

  background: #222;
  border: 1px solid white;
  border-radius: 50%;

  color: aqua;
}

.gameboard__cell--selected {
  background-color: white;
}

.gameboard__marble {
  position: absolute;

  border-radius: 50%;
  font-size: 20px;
  border: 1px solid #63cabb;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  background-color: #007060;
  color: white;
}

.gameboard__marble--selected {
  background-color: white;
  color: #007060;
}
