.gameboard {
  width: 90vmin;
  height: 90vmin;
  border: 1px solid white;
  position: relative;
  border-radius: 50%;
}

.gameboard__positioner {
  position: absolute;
  transition-duration: 500ms;
  transition-property: left top;
  transition-timing-function: ease;

  user-select: none;
}

.gameboard__positioner > * {
  width: 100%;
  height: 100%;
}

.gameboard__cell {
  background: #222;
  border: 1px solid white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  white-space: nowrap;
  color: rgb(255, 255, 255);

  font-size: 1.5vmin;
}

.gameboard__marble {
  border-radius: 50%;
  font-size: 1.8vmin;
  border: 1px solid #63cabb;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  background-color: #007060;
  color: black;
}

.gameboard__marble--selected {
  border-width: 3px;
  border-color: rgb(255, 0, 60);
}

.gameboard__hint-cell {
  opacity: 0;
  background: rgb(16, 196, 100);
  border-radius: 50%;

  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gameboard__hint-cell--selected {
  background-color: rgb(255, 255, 255);
}
